* {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0px!important;
}

body {
width: 100%;
height: 100%;
}

.menu-principal {
width: 100%;
background-color: #302a2a;
height: 70px;
}

main, .content {
margin: 0 auto;
width: 980px;
position: relative;
}

.logo {
float: left;
padding: 15px;
width: 80%;
}

.redes-sociais ul li {
padding: 10px;
display: inline-block;
float: left;

}

.redes-sociais {
width: 27%;
float: right;
} 

.header-2 {
background-color: rgb(250, 250, 250);
width: 980px;
margin: 0 auto;
padding: 10px;
}

.menu-urls {
height: 40px;
border-bottom: 2px solid #495251;
}

.menu ul li {
display:  inline-block;
color: #495251;
margin-left: 15px;
height: 29px;
}

.menu ul li:hover{
border-bottom: 4px solid #e2b3b3 ;
}

.menu ul li a:hover {
color: #ff0000;
}

.menu ul li a {
color: #495251;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
}

.menu {
width: 70%;
float: left;
}

.busca {
width: 29%;
float: right;
text-align: center;
}

.busca input {
background-image: url('../img/iconelupa.png');
background-repeat: no-repeat;
background-position: 96%;
height: 6px;
padding: 12px;
width: 226px;
top: 2%;
}

.col-100 {
width: 100%;
float: left;   
position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    height: 51px;
    z-index: 9;
    width: 50px;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/back.png');
    top: 51%;
    left: 15%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    height: 51px;
    z-index: 9;
    width: 50px;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/next.png');
    top: 51%;
    right: 15%;
}

.slider-principal {
    width: 100% important!;
    height: 550px;

}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #fff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    left: 47%;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: 92%;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

li.slick-active button {
    background: #ff0000;    
}

.texto-destaque {
    margin-top: 1em;
    text-align: center;
}

.texto-destaque strong {
    color:#cf5813
}

.texto-destaque h1 {
    color:#000000;
    font-size: 30px;
    text-transform: uppercase;
}

.texto-destaque p {
    color:#353434;
    font-size: 15px;
}

.texto-destaque:after {
    width: 100%;
    display: inline-block;
    content: "";
    height: 30px;
    background: #ffffff;
}

.col-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}

.bloco-imagem b {
    text-align: left;
    height: 300px;
}

.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}

.bloco-imagens-texto {
    background-color: #302a2a;
}

.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}

.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: "";
    height: 50px;
    background: #302a2a;
}

.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}

.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 30px;
}

.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('../img/footer.png');
    color: #ffffff;
    
}

.footer-2 {
    background-image: url('../img/footer2.png');
    color: #fffefe;
    height: 50px;
    text-align: left;
}

.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 10px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width: 25px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
	vertical-align: text-top;
}

.local:before {
    background-image: url('../img/local.png');
} 

.emailico:before {
    background-image: url('../img/emailico.png');
}  

.telefoneico:before {
    background-image: url('../img/telefoneico.png');
}